[submodule "CrateModGames/External/TwinsanityEditor"]
	path = CrateModGames/External/TwinsanityEditor
	url = https://github.com/Smartkin/twinsanity-editor.git
[submodule "CrateModGames/External/CrashEdit"]
	path = CrateModGames/External/CrashEdit
	url = https://github.com/cbhacks/CrashEdit.git
