<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TwinsaityEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libraries"/>
      <dependentAssembly>
        <assemblyIdentity name="OpenTK" publicKeyToken="bad199fe84eb3df4" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TwinsaityEditor.Properties.Settings>
      <setting name="BDFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="BDExtractPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ChunkFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="ExePatcherPath" serializeAs="String">
        <value />
      </setting>
      <setting name="MHFilePath" serializeAs="String">
        <value />
      </setting>
      <setting name="BDSaveSrcPath" serializeAs="String">
        <value />
      </setting>
      <setting name="BDSaveDstPath" serializeAs="String">
        <value />
      </setting>
      <setting name="TwinsUnpackedPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageName" serializeAs="String">
        <value />
      </setting>
      <setting name="ImageOutputPath" serializeAs="String">
        <value />
      </setting>
      <setting name="PCSX2Path" serializeAs="String">
        <value />
      </setting>
    </TwinsaityEditor.Properties.Settings>
  </userSettings>
</configuration>
